*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
main{
    height: calc(100% - 80px);
    display: flex;
}
footer{
    background-color: #282828;
    height: 80px;
}
.sidebar{
    width: 196px;
    height: 100%;
    background-color: #000000;
}
.center{
    width: 100%;
    height: 100%;
    background-color: #141922;
}
.center header{
    height: 70px;
    background-color: rgba(0, 0, 0, 0.6);
}
